*.png                     binary

*.cmd                     text    eol=crlf

*.js                      text    eol=crlf

*.json                    text    eol=crlf

README.md                         eol=crlf
